<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hf.shopping.mapper.SpuMapper">

    <resultMap id="BaseResultMap" type="com.hf.core.model.entity.SpuProduct">
        <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="mainImage" column="main_image" jdbcType="VARCHAR"/>
        <result property="spuName" column="spu_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="DATE"/>
        <result property="gmtModify" column="gmt_modify" jdbcType="DATE"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="SpuIndexVO" type="com.hf.shopping.model.vo.SpuIndexVO">
        <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="mainImage" column="main_image" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        spu_id, category_id, title, main_image, spu_name
        status, remark, gmt_create, gmt_modify, deleted
    </sql>

    <select id="selectSpuIndex" resultType="com.hf.shopping.model.vo.SpuIndexVO">
        SELECT p.spu_id, p.title, p.main_image, k.price
        FROM spu_product as p,
             sku_specification_info as k
    </select>


</mapper>